<footer class="page-footer deep-purple lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          We strive to make Hunter ACM a safe, welcoming, and inclusive community for all our members.
        </h5>
        <a class="waves-effect white-text btn-flat" style="background-color:#F3BA4B" href="https://www.hunteracm.org/codeofconduct" target="_blank">
          Read Our Code of Conduct
        </a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect With Us</h5>
        <div class="social">
          <a href="https://www.facebook.com/hunteracm">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/weareHunterACM">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://hunteracm.slack.com">
            <i class="fa fa-slack"></i>
          </a>
          <a href="https://www.github.com/hunteracm">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://acm.us14.list-manage.com/subscribe?u=40574f669e2894fb2eb79e2b6&amp;id=d40cd1198a">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="left">
      &copy; Hunter ACM
      <span id="copyrightted">
        <script>document.getElementById('copyrightted').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>. All Rights Reserved.
    </div>
    <div class="right">
      <a class="white-text lighten-1" href="https://github.com/hunteracm/localhost-login/blob/master/LICENSE">
        GPL-3.0 License
      </a>
    </div>
  </div>
</footer>
