{% extends "base.html" %}

{% block content %}
<div class="row">
  <form action = "{{ url_for('signin') }}" method = "POST">
    <div class="row">
      <div class="input-field col s6">
        <input name="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input name="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="email" type="email" class="validate">
        <label for="email">Email (for first time visitors only)</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
    </button>
  </form>
</div>
{% endblock %}
