{% extends "base.html" %}

{% block style %}
<style>
 /* label focus color */
 .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
   color: #ba68c8 !important;
 }

 .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
   color: #ba68c8 !important;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ba68c8 !important;
   box-shadow: 0 1px 0 0 #ba68c8 !important;
 }

 .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ba68c8 !important;
   box-shadow: 0 1px 0 0 #ba68c8 !important;
 }
</style>
{% endblock %}

{% block header %}
<div class="container">
  <br><br>
  <h1 class="header center purple-text text-lighten-2">
    Welcome to Hunter ACM!
  </h1>
  <div class="row center">
    <h5 class="header col s12 light">
      Enjoy the Meeting!
    </h5>
    <h5 class="header col s12 light">
      Please Sign in Below
    </h5>
  </div>
  <br><br><br>

</div>
<h6 class="header col s12 light center">
  (NOTE: IF YOU'VE COME BEFORE, TRY TYPING IN YOUR EMPL ID AND HITTING TAB)
</h6>
{% endblock %}

{% block content %}
<script>
 var users = {{ u | tojson }};

 function autofill(){
   var empl_val = document.getElementById('empl').value;
   var email_val = document.getElementById('email').value;

   for (i = 0; i < users.length; i++) {
     if((users[i]['empl'] == empl_val) || ((users[i]['email'] != "") && (users[i]['email'] == email_val))) {
       user = users[i];
       document.getElementById('fname').value= user.fname;
       document.getElementById('lname').value= user.lname;
       document.getElementById('empl').value= user.empl;
       document.getElementById('email').value= user.email;
     }
   }
 }
</script>

<div class="row">
  <form action = "{{ url_for('signin') }}" method = "POST">
    <div class="row">
      <div class="input-field col s6">
        <input name="fname" type="text" id="fname">
        <label for="fname">First Name</label>
      </div>
      <div class="input-field col s6">
        <input name="lname" type="text" id="lname">
        <label for="lname">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="empl" type="text" id="empl" required onchange="autofill()">
        <label for="empl">EMPL ID</label>
      </div>
      <div class="input-field col s12">
        <input name="email" type="email" id="email" onchange="autofill()">
        <label for="email">Email</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light right" style="background-color:#F3BA4B" type="submit" name="action">
      Submit
    </button>
  </form>
</div>
<br><br>
{% endblock %}
